:root {
    --title-font: 'JOURNALISM';
    --decor-font: 'Good Vibes Pro';
    --content-font: 'Montserrat';
    --main-text-color: #FFFFFF;
    --second-text-color: #141414;
    --third-text-color: #7B7B7B;
    --main-bg: #141414;
    --accent-bg: linear-gradient(85.9deg, #EC4A9B 0.27%, #FF6FB7 99.25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font-family: var(--content-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-text-color);
}

body {
    padding: 0 0 37px 0;
    background-color: var(--main-bg);
    max-width: 600px;
    margin-inline: auto;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
    font-weight: 400;
    color: var(--main-text-color);
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

p>span {
    font-weight: 600;
}

section {
    margin-bottom: 45px;
}

.container {
    max-width: 430px;
    padding: 0 45px;
    margin-inline: auto;
}

button {
    background: radial-gradient(44.29% 44.29% at 49.79% 83.57%, #91F1FD 0%, rgba(86, 210, 225, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , radial-gradient(52.86% 52.86% at 51.06% 10.71%, rgba(99, 225, 241, 0.3) 0%, rgba(96, 219, 235, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , linear-gradient(89.12deg, #43BBCA 0.75%, #50CDDD 28.45%, #5DD8E8 50.51%, #4DCADA 70.01%, #43BBCA 99.25%);
    box-shadow: inset 0px 0px 16px #8EF1FE;
    border-radius: 150px;
    padding: 29px 36px 27px 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 120.5%;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.second-title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--second-text-color);
}

.bold {
    font-weight: 600px;
}

.decor-text {
    font-family: 'Good Vibes Pro';
    font-weight: 400;
    font-size: 22px;
    line-height: 113.3%;
    color: var(--third-text-color);
}

/* =========================HERO========================= */

.hero {
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    background-position: center -495px;
    background-repeat: no-repeat;
    background-size: 1266px;
}

.heroImg {
    width: 100%;
    transform: translateX(5px);
    margin-top: 8px;
}

.hero * {
    z-index: 1;
    position: relative;
}

.hero .container {
    position: static;

}

.hero button {
    text-wrap: wrap;
    width: 235px;
    padding: 20px 33px;
}

.hero .decor-text {
    text-align: center;
    color: var(--main-text-color);
}

.hero .btrfly {
    position: absolute;
    top: 58px;
    transform: translateX(-50%);
    left: calc(50% - 142px);
    width: 79px;
}

.hero h1,
.hero h2 {
    font-size: 100px;
    line-height: 100px;
    margin-top: 7px;
}

.hero h2 {
    margin-top: -8px;
    z-index: 0;
    position: relative;
}

.hero span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -28px auto 3px auto;
    z-index: 1;
    font-family: var(--decor-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 113.3%;
    text-align: center;
    color: var(--main-text-color);
    transform: rotate(3.96deg);
    background: radial-gradient(43.57% 43.57% at 49.79% 100%, rgba(67, 187, 202, 0.3) 0%, rgba(86, 210, 225, 0) 100%), radial-gradient(63.57% 63.57% at 49.79% 0%, rgba(67, 187, 202, 0.3) 0%, rgba(96, 219, 235, 0) 100%), linear-gradient(89.12deg, #43BBCA 0.75%, #43BBCA 18.36%, #5CDAEA 50.51%, #43BBCA 76.61%, #43BBCA 99.25%);
    box-shadow: 0px -7px 13px rgba(0, 0, 0, 0.08), inset 0px 0px 16px #50D4E4;
    border-radius: 5px;
    width: 96px;
    height: 27px;
}

.hero .star-hero {
    position: absolute;
    top: 482px;
    transform: translateX(-50%);
    left: calc(50% - 92px);
}

.hero .star-hero .star-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #208895;
    margin-bottom: 6px;
}

.hero .star-hero .star-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    color: #208895;
}

@media (max-width: 360px) {

    .hero h1,
    .hero h2 {
        font-size: 85px;
        line-height: 100px;
    }

    .hero .btrfly {
        top: 65px;
        left: calc(50% - 125px);
    }
}

.hero .elipse {
    display: block;
    margin: 8px auto 5px;
}

.hero p {
    max-width: 317px;
    text-align: center;
    margin: 0 auto;
}

.hero .star {
    position: absolute;
    left: 457px;
    bottom: 231px;
    z-index: 2;
}

.hero .person-wrap {
    overflow: hidden;
    display: flex;
    border-radius: 0 0 50% 50%;
    min-width: 1266px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;
    justify-content: center;
    background: #EC4D9C;
    z-index: 0;
}

.hero .bot-spots {
    position: absolute;
    z-index: 2;
}

.hero .person-wrap .bg {
    background: #EC4D9C;
    position: absolute;
    bottom: 0;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.hero .person-wrap .bg .spots {
    position: absolute;
    width: 100%;
    mix-blend-mode: screen;
    z-index: 2;
}

.hero .person-wrap .bg .light {
    position: absolute;
    width: 100%;
    mix-blend-mode: screen;
    top: 0;
}

.hero .person {
    z-index: 2;
    width: 440px;
    transform: translateY(20px);
}

.hero a {
    position: relative;
    display: block;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    height: 80px;
    width: 100%;
    margin-top: -80px;
}

/* =========================FORWHOM========================= */

.for-whom {
    margin-top: -110px;
    padding-top: 90px;
    margin-bottom: 45px;
    position: relative;
    overflow: hidden;
}

.for-whom .cost {
    padding: 22px 28px 17px 28px;
    text-align: center;
    background: linear-gradient(86.96deg, rgba(124, 124, 124, 0.3) 2.21%, rgba(43, 43, 43, 0.3) 99.49%);
    border: 1px solid #3F3F3F;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 15px;
    position: relative;
    margin-bottom: 45px;
    max-width: 281px;
    left: 50%;
    transform: translateX(-50%);
}

.for-whom .cost::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    background: rgba(139, 139, 139, 0.42);
    border: 1px solid #6A6A6A;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 50%;
    top: -15px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/exclamation.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.for-whom .cost::after {
    content: '';
    display: block;
    width: 60px;
    height: 42px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/blueSpot.png');
    background: #47C0D0;
    filter: blur(35px);
}

.for-whom .title {
    margin-bottom: 34px;
}

.for-whom ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.for-whom li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.for-whom li div {
    background: var(--accent-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 20px;
}

.for-whom .button {
    width: 235px;
    height: 70px;
    border-radius: 20px;
    background: radial-gradient(47.36% 44.31% at 49.79% 83.57%, #E096E7 0%, rgba(237, 65, 65, 0.00) 100%), radial-gradient(54.78% 52.87% at 51.06% 10.71%, rgba(242, 235, 242, 0.30) 0%, rgba(237, 65, 65, 0.00) 100%), linear-gradient(89deg, #D94FB2 0.75%, #F179CF 28.45%, #F4AFE1 50.51%, #F179CF 70.01%, #D94FB2 99.25%);
    box-shadow: 0px 0px 16px 0px #FF6C6C inset;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.5%;
    /* 15.66px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    white-space: inherit;
    padding: 19px 15px;
    margin: 0 auto;
    display: block;
}

/* =========================SKILLS========================= */

.skills {
    margin-bottom: 45px;
}

.skills ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills li {
    display: flex;
    gap: 17px;
    align-items: start;
}

.skills li img {
    margin-top: 5px;
}

.skills .toy-bg {
    margin-top: 9px;
    position: relative;
    z-index: -1;
    width: 100%;
    margin-bottom: 37px;
}

.skills .button {
    width: 235px;
    height: 70px;
    border-radius: 20px;
    background: radial-gradient(47.36% 44.31% at 49.79% 83.57%, #E096E7 0%, rgba(237, 65, 65, 0.00) 100%), radial-gradient(54.78% 52.87% at 51.06% 10.71%, rgba(242, 235, 242, 0.30) 0%, rgba(237, 65, 65, 0.00) 100%), linear-gradient(89deg, #D94FB2 0.75%, #F179CF 28.45%, #F4AFE1 50.51%, #F179CF 70.01%, #D94FB2 99.25%);
    box-shadow: 0px 0px 16px 0px #FF6C6C inset;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 130.5%;
    /* 15.66px */
    letter-spacing: 1.02px;
    text-transform: uppercase;
    white-space: inherit;
    padding: 11px 15px;
    margin: 30px auto 0 auto;
    display: block;
}

/* =========================PROGRAM========================= */

.program {
    border-radius: 50px;
    margin-bottom: 130px;
}

.program .title {
    margin-bottom: 12px;
}

.program ul {
    display: flex;
    flex-direction: column;
    gap: 88px;
    transform: translateY(70px);
}

.program li {
    position: relative;
    padding: 84px 38px 33px 38px;
    background-color: #ffff;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.program li .second-title {
    margin-bottom: 17px;
}

.program li .text {
    color: var(--second-text-color);
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.program li img {
    position: absolute;
    top: -61px;
    left: 50%;
    transform: translateX(-50%);
}

/* =========================MODULS========================= */

.moduls .title {
    margin-bottom: 38px;
}

.moduls .list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.moduls .list>li {
    position: relative;
    background: #ffff;
    border-radius: 30px;
    cursor: pointer;
}

.moduls .modImg {
    width: 100%;
    border-radius: 28px;
    margin-bottom: 34px;
}

.moduls .textWrap {
    padding: 0 37px;
}

.moduls .moduleWrap {
    background: #ffff;
    padding-bottom: 40px;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 30px;
}

.moduls .bonusWrap {
    background: var(--accent-bg);
    padding-top: 40px;
    color: var(--main-text-color);
}

.moduls .moduleWrap .second-title {
    text-align: left;
    color: #282828;
    margin-bottom: 27px;
}

.moduls .bonusWrap .second-title {
    color: var(--main-text-color);
}

.moduls .moduleWrap .btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #282828;
    text-align: center;
    text-decoration-line: underline;
}

.moduls .bonusWrap .btn {
    color: var(--main-text-color);
}

.moduls .programDropdown {
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.5s;
}

.moduls .programDropdown .second-title {
    margin-top: 35px;
    padding: 0 35px;
    text-align: left;
}

.moduls .list>.active .programDropdown {
    max-height: 1000px;
}

.moduls .module {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 37px;
    font-weight: 500;
    padding: 0 15px;
    top: -20px;
    min-width: 112px;
    height: 40px;
    background: radial-gradient(44.29% 44.29% at 49.79% 83.57%, #91F1FD 0%, rgba(86, 210, 225, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , radial-gradient(52.86% 52.86% at 51.06% 10.71%, rgba(99, 225, 241, 0.3) 0%, rgba(96, 219, 235, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , linear-gradient(89.12deg, #43BBCA 0.75%, #50CDDD 28.45%, #5DD8E8 50.51%, #4DCADA 70.01%, #43BBCA 99.25%);
    box-shadow: inset 0px 0px 16px #8EF1FE;
    border-radius: 7px;
}

.moduls .bonus-icon {
    position: absolute;
    left: 200px;
    top: -20px;
}

.moduls ol {
    padding: 0;
    font-family: var(--content-font);
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* list-style-type: auto; */
}

.moduls ol:last-child {
    padding-bottom: 42px;
}

.moduls ol li {
    margin: 28px 28px 0 53px;
}

/* ===========================RATES============================= */

.rates {
    margin-bottom: 110px;
}

.rates .title-wrap {
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 21px;
}

.rates .title-decor {
    text-align: end;
    padding-right: 50px;
    color: #43BBCA;
    margin-bottom: 30px;
}

.rates .list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.rates .list .item {
    background: #FFFFFF;
    box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 50px 44px 80px 40px;
    position: relative;
}

.rates .list .item-title {
    color: var(--second-text-color);
}

.rates .list .item-decor {
    color: var(--third-text-color);
    text-align: center;
    margin-bottom: 21px;
}

.rates .item-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 44px;
}

.rates .item-list p {
    color: var(--second-text-color);
    padding-left: 20px;
    position: relative;
}

.rates .item-list p:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: radial-gradient(42.12% 77.78% at 61.11% 16.67%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #EC4A9B;
}

.rates .item-list .divider {
    border-top: 1px solid #E6E6E6;
}

.rates .item-list .disable:before {
    background: radial-gradient(42.12% 77.78% at 61.11% 16.67%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #939393;
}

.rates .item .old-price {
    font-size: 50px;
    line-height: 50px;
    color: var(--third-text-color);
    font-family: var(--title-font);
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    text-decoration-line: line-through;
    margin-bottom: 5px;
}

.rates .item .new-price {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 77px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FF2E2E;
    color: var(--main-text-color);
    border-radius: 10px;
    padding: 26px 20px 10px 20px;
    margin-bottom: 19px;
}

.rates .item .saving {
    font-family: var(--content-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    background: #EC4A9B;
    border-radius: 150px;
    max-width: 126px;
    margin-inline: auto;
    padding: 6px 0;
    margin-bottom: 30px;
}

.rates .item .other-price {
    text-align: center;
    color: #818181;
    margin-bottom: 16px;
}

.rates .item .my-price {
    color: var(--second-text-color);
    text-align: center;
}

.rates .item .other-price span,
.rates .item .my-price span {
    font-weight: 600;
}

.rates .button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.rates .button-wrap button {
    border: 12px solid var(--second-text-color);
}

.rates .button-wrap p {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration-line: underline;
}

.rates .list .personal {
    background: linear-gradient(85.9deg, #EC4A9B 0.27%, #FF6FB7 99.25%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-top: 49px;
    margin-top: 19px;
}

.rates .list .personal .item-title {
    color: var(--main-text-color);
    margin: 0 -16px;
}

.rates .list .personal .item-decor {
    color: #FFF281;
    margin-bottom: 300px;
}

@media (max-width: 400px) {
    .rates .list .personal .item-decor {
        margin-bottom: 10em;
    }
}

.rates .personal .item-list p {
    color: var(--main-text-color);
}

.rates .personal .item-list p:before {
    background: radial-gradient(42.12% 77.78% at 61.11% 16.67%, rgba(251, 103, 177, 0.4) 0%, rgba(251, 103, 177, 0) 100%), #FFFFFF;
}

.rates .personal .old-price {
    color: #CECECE;
}

.rates .personal .new-price {
    color: var(--main-text-color);
}

.rates .personal .saving {
    background: radial-gradient(44.29% 44.29% at 49.79% 83.57%, #91F1FD 0%, rgba(86, 210, 225, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , radial-gradient(52.86% 52.86% at 51.06% 10.71%, rgba(99, 225, 241, 0.3) 0%, rgba(96, 219, 235, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , linear-gradient(89.12deg, #43BBCA 0.75%, #50CDDD 28.45%, #5DD8E8 50.51%, #4DCADA 70.01%, #43BBCA 99.25%);
    box-shadow: inset 0px 0px 16px #8EF1FE;
}

.rates .personal .other-price {
    color: #FFB8DB;
}

.rates .personal .my-price {
    color: var(--main-text-color);
}

.rates .personal .limitation {
    position: absolute;
    top: -20px;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9px;
    line-height: 20px;
    color: var(--second-text-color);
    text-transform: uppercase;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 150px;
    padding: 9px 23px;
}

.rates .personal img {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    top: 14%;
}

@media (max-width: 411px) {
    .rates .personal img {
        top: 16%;
    }
}

.rates .decor-wrap .offline {
    background: #FF3F3F;
    border: 1px solid #FF3737;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 150px;
    transform: rotate(13.05deg);
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: var(--main-text-color);
    width: 75px;
    position: absolute;
    top: 21%;
    left: 25px;
}

.rates .decor-wrap .places {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.025em;
    color: var(--main-text-color);
    transform: rotate(-12.31deg);
    width: 93px;
    background: linear-gradient(81.46deg, rgba(78, 78, 78, 0.3) 8%, rgba(227, 227, 227, 0.3) 98.76%);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    padding: 10px 0;
    position: absolute;
    top: 23%;
    right: 35px;
}

.rates .decor-wrap .places span {
    font-weight: 600;
}

/* ===========================SPEAKER============================= */

.speaker {
    margin-bottom: 25px;
}

.speaker .speakerImg {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 19px;
}

.speaker .title {
    margin-bottom: 18px;
}

.speaker .decor-text {
    text-align: center;
    color: #ED4B9C;
    margin-bottom: 6px;
}

.speaker ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

.speaker ul p {
    display: flex;
    gap: 12px;
    align-items: baseline;
    position: relative;
}

.speaker ul p:before {
    content: '';
    min-width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #1B1B1B;
    border: 0.5px solid #323232;
    margin-top: 2px;
    align-self: start;
}

.speaker ul p:after {
    content: '';
    position: absolute;
    top: 6.5px;
    left: 4.5px;
    min-width: 9px;
    height: 9px;
    border-radius: 50%;
    background: radial-gradient(42.12% 77.78% at 61.11% 16.67%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #EC4A9B;
}

/* ===========================WORKS============================= */

.works {
    margin-bottom: 145px;
}

.works .title {
    margin-bottom: 18px;
}


.works .itc-slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.works .slide-wrap {
    display: flex;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
}

.works .slide-wrap>div {
    width: 50%;
    aspect-ratio: 84 / 113;
    background-size: contain;
    display: flex;
    align-items: end;
    background: linear-gradient(0.5deg, #141414 15.37%, rgba(20, 20, 20, 0) 40.37%);
}

.works .before-wrap {
    border-right: 0.5px solid #fff;
}

.works .after-wrap {
    border-left: 0.5px solid #fff;
}

.works .before-text,
.works .after-text {
    width: 100%;
    text-align: left;
    color: transparent;
    padding: 0 0 12px 19px;
    background: linear-gradient(0.5deg, #141414 16.37%, rgba(24, 19, 23, 0) 100.37%);
}

.works .itc-slider__btn {
    bottom: -90px;
    top: auto;
    transform: translateX(-50%);
    box-shadow: inset 0px 0px 16px #8EF1FE;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: url('../images/sliderBtn.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.works .itc-slider__btn:hover,
.works .itc-slider__btn:focus {
    background-image: url('../images/sliderBtn.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.works .itc-slider__btn_prev {
    left: calc(50% - 50px);
}

.works .itc-slider__btn_next {
    left: calc(50% + 50px);
    transform: translateX(-50%) rotate(180deg);
}

.works .itc-slider__item:nth-child(1) .before-wrap {
    background: url('../images/firstSlideBefore.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(1) .after-wrap {
    background: url('../images/firstSlideAfter.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(2) .before-wrap {
    background: url('../images/2before.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(2) .after-wrap {
    background: url('../images/2after.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(3) .before-wrap {
    background: url('../images/3before.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(3) .after-wrap {
    background: url('../images/3after.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(4) .before-wrap {
    background: url('../images/4before.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(4) .after-wrap {
    background: url('../images/4after.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(5) .before-wrap {
    background: url('../images/5before.jpg');
    background-size: contain;
}

.works .itc-slider__item:nth-child(5) .after-wrap {
    background: url('../images/5after.jpg');
    background-size: contain;
}

/* =========================reviews========================== */

.reviews {
    margin-bottom: 45px;
}

.reviews .title {
    margin-bottom: 20px;
}

.reviews .itc-slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .slide-wrap {
    display: flex;
    width: 80%;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    aspect-ratio: 26 / 23;
    background: #010101;
}

.reviews .itc-slider__item:nth-child(1) .slide-wrap {
    background-image: url('../images/1reviews.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.reviews .itc-slider__item:nth-child(2) .slide-wrap {
    background-image: url('../images/2reviews.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.reviews .itc-slider__item:nth-child(3) .slide-wrap {
    background-image: url('../images/3reviews.png');
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: center;
}

.reviews .itc-slider__item:nth-child(4) .slide-wrap {
    background-image: url('../images/4review.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.reviews .itc-slider__item:nth-child(5) .slide-wrap {
    background-image: url('../images/5review.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.reviews .itc-slider__item:nth-child(6) .slide-wrap {
    background-image: url('../images/6review.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.reviews .itc-slider__btn {
    top: 50%;
    transform: translateY(-50%);
    box-shadow: inset 0px 0px 16px #8EF1FE;
    width: 54px;
    padding: 0;
    height: 54px;
    border-radius: 50%;
    background-image: url('../images/sliderBtn.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews .itc-slider__btn:before {
    display: none;
}

.reviews .itc-slider__btn:hover,
.reviews .itc-slider__btn:focus {
    background-image: url('../images/sliderBtn.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews .itc-slider__btn_prev {
    left: -30px;
}

.reviews .itc-slider__btn_next {
    transform: translateY(-50%) rotate(180deg);
    right: -30px;
}

/* =========================answers========================= */

.answers .title {
    margin-bottom: 18px;
}

.answers .questionsItem {
    background: linear-gradient(52.7deg, #1F1F1F 8.37%, #2D2D2D 81.06%);
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 30px 80px 28px 24px;
    overflow: hidden;
    max-height: 140px;
    min-height: 101px;
    transition: max-height 0.5s;
    cursor: pointer;
    position: relative;
}

.answers .questionsItem.active {
    max-height: 300px !important;
}

.answers .questionsItem:before {
    content: '';
    position: absolute;
    background-color: #ffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url("../images/answersArrow.svg");
    background-size: inherit;
    background-position: center;
    top: 32px;
    right: 28px;
    background-repeat: no-repeat;
    transition: transform 0.25s;
}

.answers .questionsItem.active:before {
    transform: rotate(180deg);
}

.answers .questionsItem.active,
.answers .questionsItem:hover {
    background: linear-gradient(85.9deg, #EC4A9B 0.27%, #FF6FB7 99.25%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid transparent;
}

.answers .questionsItem.active .secondText {
    display: block;
}

.answers ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answers .mainText {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.answers .secondText {
    display: none;
    margin-top: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

/* ==============================footer=========================== */

.footer .title {
    text-align: left;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
}

.footer .title::after {
    content: '';
    display: block;
    width: 108px;
    height: 106px;
    background-image: url('../images/footerBtrfly.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -29px;
    right: -64px;

}

.footer .policy.desk {
    display: none;
}

.footer .logoWrap .logo {
    width: 154px;
}

.footer .tgWrap {
    margin-bottom: 27px;
}

.footer .tgWrap .topText {
    font-size: 14px;
    line-height: 25px;
    max-width: 253px;
    margin-bottom: 30px;
}

.footer .tgWrap .topText span {
    display: inline-block;
    margin-bottom: 10px;
}

.footer .tgWrap .tgText {
    border: 1px solid #888888;
    border-radius: 80px;
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    padding: 0 29px 0 16px;
    color: #ffff;
    cursor: pointer;
    font-family: 'Montserrat';
}

.footer .tgWrap img {
    margin-right: 13px;
    width: 20px;
    transform: translateY(5px);
}

.footer .policy {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #8B8B8B;
    display: inline-block;
}

.footer .policy.mobile {
    margin-bottom: 44px;
}

.footer .fisher {
    display: flex;
    align-items: center;
}

.footer .fisher p {
    font-size: 14px;
    line-height: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.footer .fisher .desk {
    display: none;
}